nav{
    background-color: $firstcolor ;
    a{
        text-decoration: none;
        color:$secondcolor
         !important;
        font-size: 20px;
    }
    & a:hover {
        color:black !important;
    }
}
