.p_xy{
    width: 300px;
    height: 300px;
    
    }

    .nosotros-main {
      h1{
        text-align: center;
      }
      section p{
        font-size: 20px;
        text-align: center;
      }
    }
  
    .borderless{
        border-width: 0 !important;
    }