@import "_vars.scss";
@import "_nav.scss";
@import "_footer.scss";
@import "_productos";
@import "_nosotros";

.index-main h1{
    margin-top: 10px;
    & .index-main p, .index-main h2{
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
}
.index-main p{
    font-size: 20px;
}
.header-back  {
    background-color: $secondcolor;
    text-align: center;
}
.main-top {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    h1, p, h2{
        margin-bottom: 20px;
    }
    & .container, .margin-top .container .row {
        margin: 0 auto !important;
        text-align: center;
        margin-left: 20px;
    }
}



@media (width < 576px){


    header section img {
        width: 350px;
    }

    .main-top .container, .margin-top .container .row {
        margin: 0 auto !important;
        text-align: center;
    }

    .main-top {
    max-width: 350px;
    }

    .row .col {
    margin-bottom: 30px;
    }
}